* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RALEWAY";
}

.container {
  width: 95%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}
.wrapper {
  position: relative;
  overflow: hidden;
}

.head .head-con {
  position: relative;
  background: url(../images/headerBg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 618px;
}

.header {
  height: 618px;
}

@media only screen and (min-width: 1024px) {
  .head {
    position: absolute;
    width: 50%;
  }
  .head .head-con {
    background: rgba(24, 44, 61, 0.9019607843);
    z-index: 2;
    height: 705px;
  }
}
.head-inner {
  padding-top: 22px;
}

@media only screen and (min-width: 768px) {
  .head-inner {
    padding-top: 44px;
  }
}
@media only screen and (min-width: 1024px) {
  .head-inner .head-inner-linkW {
    display: none;
  }
}
.head-inner-linkB {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .head-inner-linkB {
    right: 50%;
    transform: translateX(50%);
    display: block;
    position: absolute;
    top: 44px;
    z-index: 3;
    width: 66px;
  }
}
.head-block-menu {
  position: absolute;
  right: 10px;
  top: 22px;
}

@media only screen and (min-width: 768px) {
  .head-block-menu {
    top: 44px;
    right: 36px;
  }
}
@media only screen and (min-width: 1024px) {
  .head-block-menu {
    top: 44px;
    left: 66px;
  }
}
#men:checked ~ .info {
  left: 0;
}

#men {
  display: none;
}

.info {
  top: 0;
  left: 0;
  background: #112537;
  width: 100%;
  position: absolute;
  height: 100%;
  transition: 0.5s;
  left: -100%;
  z-index: 1;
}
.info .info-inner {
  margin-top: 111px;
  text-align: center;
  color: #fff;
  line-height: 35px;
}
.info .info-inner li {
  margin-bottom: 20px;
  font-size: 20px;
}
.info .info-link {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-top: 60px;
  list-style: none;
}
.info .info-link li {
  margin: 0 20px;
}

@media only screen and (min-width: 768px) {
  .info .info-inner {
    line-height: 44px;
  }
  .info .info-inner li {
    font-size: 30px;
  }
  .info .info-link {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .info .info-link {
    display: none;
  }
}
.most {
  text-align: center;
  color: #fff;
  margin-top: 77px;
}
.most :nth-child(1) {
  font-size: 48px;
}
.most :nth-child(2) {
  margin: 30px 0;
  font-size: 22px;
}
.most a {
  color: #fff;
  text-decoration: none;
  background: #f8a25a;
  padding: 20px 35px;
}
.most a::before {
  content: "";
  background: url(../images/arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  transform: translateX(50%);
  width: 20px;
  height: 58px;
  right: 50%;
  bottom: 88px;
}
.most .most-link {
  display: none;
}

@media only screen and (min-width: 768px) {
  .most {
    margin-top: 88px;
  }
  .most :nth-child(1) {
    font-size: 77px;
  }
  .most :nth-child(2) {
    font-size: 30px;
  }
  .most a::before {
    bottom: 44px;
  }
}
@media only screen and (min-width: 1024px) {
  .most .most-link {
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 22px;
  }
  .most .most-link i {
    font-size: 22px;
  }
  .most a {
    padding: 20px 88px 20px 35px;
    position: relative;
  }
  .most a::before {
    transform: rotate(270deg);
    bottom: 2px;
    right: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .most .most-link {
    margin: 22px;
  }
}
.swiper-pagination {
  left: 450px !important;
  top: 600px !important;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media only screen and (min-width: 1024px) {
  .swiper-pagination {
    top: 700px !important;
    height: 20px !important;
  }
}
.swiper-pagination-bullet {
  border-radius: 0;
  margin: 0 !important;
  width: 20px;
  height: 5px;
  background: #C0C0C0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #112537;
}

.head-swiper {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .head-swiper {
    display: block;
  }
  .head-swiper .swiper-wrapper {
    text-align: center;
  }
  .head-swiper img {
    width: 1163px;
  }
  .head-swiper .head-slide-info {
    font-size: 15px;
    text-align: right;
  }
  .head-swiper .head-slide-info a {
    color: #5f5e5c;
    text-decoration: none;
    margin: 30px 0 30px 11px;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}
.art-title {
  padding: 80px 0;
}

@media only screen and (min-width: 768px) {
  .art-title {
    display: flex;
    height: 1100px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .art-title .art-block:nth-child(even) {
    align-self: flex-end;
  }
  .art-title .art-block:nth-child(odd) {
    align-self: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  .art-title {
    flex-wrap: nowrap;
    height: 720px;
    margin-top: 100px;
  }
}
.art-block .art-one {
  color: #FDE3C9;
  font-size: 85px;
}
.art-block .art-two {
  color: black;
  font-size: 24px;
  margin: 10px 0 15px 0;
}
.art-block .art-inner {
  color: #838383;
  line-height: 22px;
}

@media only screen and (min-width: 768px) {
  .art-block {
    flex-basis: 45%;
  }
}
.port p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.port li {
  margin-bottom: 20px;
  font-size: 22px;
  list-style: none;
}
.port :nth-child(1) {
  color: #000;
}
.port .port-info {
  color: #838383;
}

@media only screen and (min-width: 768px) {
  .port p {
    text-align: left;
  }
  .port .port-info {
    display: flex;
    justify-content: space-between;
  }
}
.port-swiper {
  display: block;
}
.port-swiper .port-inner {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
}
.port-swiper .port-inner img {
  height: 100%;
  width: 250px;
}

@media only screen and (min-width: 768px) {
  .port-swiper .port-inner {
    width: 450px;
  }
  .port-swiper .port-inner img {
    width: 100%;
  }
}
@media only screen and (min-width: 770px) {
  .port-swiper {
    display: none;
  }
}
.acc-one {
  display: none;
  z-index: 10;
  width: 800px;
  margin: 0 auto;
}
.acc-one .acc .acc-inner {
  display: flex;
}
.acc-one .acc .acc-inner label {
  flex-basis: 20%;
  height: 500px;
}
.acc-one .acc .acc-inner label img {
  height: 100%;
  width: 100%;
}
.acc-one .acc input {
  display: none;
}

@media only screen and (min-width: 770px) {
  .acc-one {
    display: block;
    height: 500px;
  }
}
.input:nth-child(1):checked ~ .acc-inner label:nth-child(1) {
  flex-basis: 40%;
  z-index: 3;
}

.input:nth-child(2):checked ~ .acc-inner label:nth-child(2) {
  flex-basis: 40%;
  z-index: 3;
}

.input:nth-child(3):checked ~ .acc-inner label:nth-child(3) {
  flex-basis: 40%;
  z-index: 3;
}

.input:nth-child(4):checked ~ .acc-inner label:nth-child(4) {
  flex-basis: 40%;
  z-index: 3;
}