.air {
    text-align: center;
    margin-bottom: 100px;

    .air-ul {

        li {
            color: #838383;
            font-size: 22px;
            margin-bottom: 25px;
            list-style: none;
            text-align: left;
            flex-basis: 45%;
            margin-bottom: 66px;
        }
    }

    .air-title {
        img {
            width: 100%;
            margin-bottom: 25px;
        }

        color: #838383;
        font-size: 21px;
        line-height: 32px;
        text-align: left;
        margin-bottom: 40px;

        .air-title-none {
            margin-bottom: 33px;

            .air-tit {
                display: none;
            }
        }

        h1 {
            display: none;
        }
    }

    p {
        text-align: center;
        font-weight: bold;
        font-size: 44px;
        font-family: "ROBOTO";
        margin-bottom: 25px;
    }


    a {
        text-decoration: none;
        border: 2px solid #000;
        color: #000;
        padding: 18px 33px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .air {
        .air-title {
            .air-ul {
                display: flex;
                flex-wrap: wrap;
            }

            h1 {
                color: #000;
                font-size: 30px;
                margin-bottom: 30px;
                display: block;
                font-weight: 100;
                width: 500px;
            }

            .air-title-none {
                display: flex;
                position: relative;

                span {
                    flex-basis: 70%;
                }

                .air-tit {
                    display: block;
                    color: #000;
                    position: absolute;
                    right: 20px;
                    top: -60px;
                }
            }
        }

        text-align: left;

    }
}

@media only screen and (min-width: 1024px) {
    .air {
        display: flex;

        .air-con {
            flex-basis: 50%;

            .air-ul {
                display: block;
                margin-top: 88px;

                li {
                    width: 300px;
                    height: 50px;
                    transition: 0.5s;
                }
            }

            .air-ul li:hover {
                color: #000;
                transform: translate(40px);
                font-weight: bolder;
            }
        }

        .air-title {
            flex-basis: 50%;
            display: flex;
            flex-wrap: wrap;

            .air-title-none {
                .air-tit {
                    top: 10px;
                }
            }

            a {
                padding: 18px 44px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .air {
        text-align: center;

        .air-con {
            text-align: center;

            .air-ul {
                text-align: center;

                li {
                    margin-left: 77px;
                }
            }
        }
    }
}

.video {
    position: relative;

    video {
        width: 100%;

        .video-text {
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .video {
        position: relative;

        .video-text {
            position: absolute;
            transform: translate(-50%, 50%);
            left: 50%;
            text-align: center;
            color: #fff;
            width: 600px;

            p {
                font-size: 22px;
            }
        }

        video {
            width: 100%;
        }
    }
}