.art-title {
    padding: 80px 0;
    display: flex;
    height: 500px;
    justify-content: space-between;
    flex-direction: row;

    .art-block:nth-child(even) {
        align-self: flex-end;
    }

    .art-block:nth-child(odd) {
        align-self: flex-start;
    }
}

.art-block {
    .art-one {
        color: #FDE3C9;
        font-size: 85px;
    }
}