.art-title {
    padding: 80px 0;
}

@media only screen and (min-width: 768px) {

    .art-title {
        display: flex;
        height: 1100px;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        .art-block:nth-child(even) {
            align-self: flex-end;
        }

        .art-block:nth-child(odd) {
            align-self: flex-start;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .art-title {
        flex-wrap: nowrap;
        height: 720px;
        margin-top: 100px;
    }
}

.art-block {
    .art-one {
        color: #FDE3C9;
        font-size: 85px;
    }

    .art-two {
        color: black;
        font-size: 24px;
        margin: 10px 0 15px 0;
    }

    .art-inner {
        color: #838383;
        line-height: 22px;
    }
}

@media only screen and (min-width: 768px) {
    .art-block {
        flex-basis: 45%;
    }
}

.port {
    p {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    li {
        margin-bottom: 20px;
        font-size: 22px;
        list-style: none;
    }

    :nth-child(1) {
        color: #000;
    }

    .port-info {
        color: #838383;
    }
}

@media only screen and (min-width: 768px) {
    .port {
        p {
            text-align: left;
        }

        .port-info {
            display: flex;
            justify-content: space-between;
        }
    }
}

.port-swiper {
    display: block;

    .swiper-wrapper {
        margin: 0 0 0 -66px;
    }

    .port-inner {
        height: 500px;
        position: relative;
        display: flex;
        justify-content: center;

        img {
            height: 100%;
            width: 250px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .port-swiper {
        .port-inner {
            width: 450px;

            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 770px) {
    .port-swiper {
        display: none;
    }
}

.acc-one {
    display: none;
    z-index: 10;
    width: 800px;
    margin: 0 auto;

    .acc-inner {
        display: flex;

        label {
            flex-basis: 25%;
            height: 500px;
            transition: 0.5s;
            position: relative;
            ::before{
                content:"";
                position: absolute;
                background: #182c3d;
                display: block;
                opacity: 0.78;

            }

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    input {
        display: none;
    }
}

@media only screen and (min-width: 770px) {
    .acc-one {
        display: block;
        height: 500px;
        width: 100%;
    }
}

@for $i from 1 to 5 {
    .input:nth-child(#{$i}):checked~.acc-inner {
        label:nth-child(#{$i}) {
            flex-basis: 44%;
            z-index: 3;
        }
    }
}