* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "RALEWAY";
}

.container {
    width: 95%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        width: 85%;
    }
}

.wrapper {
    position: relative;
    overflow: hidden;
}

@import "head";

@import "art";

@import "air";

@import "footer";